# Water quality project

In [36]:
import pandas as pd
import numpy as np

In [37]:
# Load data and preview
df_chemicals = pd.read_csv("datasets/chemicals.csv")
df_chemicals['year'].unique()
df_chemicals.head()

,cws_name,chemical_species,contaminant_level,county,pws_id,pop_served,state,unit_measurement,value,year,fips,state_fips
0,CALIFORNIA WATER SERVICE - LIVERMORE,Uranium,Less than or equal MCL,Alameda,CA0110003,57200,California,micrograms/L,1.54,2000,6001,6
1,CITY OF LIVERMORE,Uranium,Less than or equal MCL,Alameda,CA0110011,26400,California,micrograms/L,1.64,2000,6001,6
2,CITY OF PLEASANTON,Uranium,Less than or equal MCL,Alameda,CA0110008,70600,California,micrograms/L,1.64,2000,6001,6
3,DUBLIN SAN RAMON SERVICES DISTRICT,Uranium,Less than or equal MCL,Alameda,CA0110009,72500,California,micrograms/L,1.64,2000,6001,6
4,NORRIS CANYON PROPERTY OWNERS ASSN,Uranium,Less than or equal MCL,Alameda,CA0103040,100,California,micrograms/L,4.51,2000,6001,6

In [38]:
df_droughts = pd.read_csv("datasets/droughts.csv")
#df_droughts['year'].unique()
df_droughts.tail()

,fips,county,state,none,d0,d1,d2,d3,d4,valid_start,valid_end
1345537,56045,Weston County,WY,78.20,21.80,0.0,0.0,0.0,0.0,2010-01-26,2010-02-01
1345538,56045,Weston County,WY,78.20,21.80,0.0,0.0,0.0,0.0,2010-01-19,2010-01-25
1345539,56045,Weston County,WY,78.20,21.80,0.0,0.0,0.0,0.0,2010-01-12,2010-01-18
1345540,56045,Weston County,WY,78.20,21.80,0.0,0.0,0.0,0.0,2010-01-05,2010-01-11
1345541,56045,Weston County,WY,76.84,23.16,0.0,0.0,0.0,0.0,2009-12-29,2010-01-04

In [30]:
df_education = pd.read_csv("datasets/education_attainment.csv")
#df_droughts['year'].unique()
df_education.tail()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 1: invalid start byte

In [39]:
df_earnings = pd.read_csv("datasets/earnings.csv")
df_earnings.tail()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 2: invalid continuation byte

In [40]:
df_ind_occupation = pd.read_csv("datasets/industry_occupation.csv")
df_ind_occupation.tail()

,geo_id,fips,county,state,year,total_employed,agriculture,construction,manufacturing,wholesale_trade,retail_trade,transport_utilities,information,finance_insurance_realestate,prof_scientific_waste,edu_health,arts_recreation,other,public_admin
4930,0500000US55133,55133,Waukesha County,WI,2016,212586.0,1336.0,12162.0,36588.0,9064.0,23821.0,8082.0,3187.0,17463.0,23513.0,47575.0,16338.0,7708.0,5749.0
4931,0500000US55139,55139,Winnebago County,WI,2016,87738.0,471.0,3968.0,21896.0,2906.0,10210.0,2639.0,1939.0,5202.0,7070.0,17541.0,7911.0,3799.0,2186.0
4932,0500000US55141,55141,Wood County,WI,2016,37953.0,1664.0,2325.0,6945.0,825.0,3306.0,2546.0,504.0,2603.0,2108.0,9731.0,2434.0,1313.0,1649.0
4933,0500000US56021,56021,Laramie County,WY,2016,46134.0,1553.0,3430.0,2180.0,417.0,5372.0,2852.0,1568.0,1774.0,3283.0,11950.0,3125.0,2752.0,5878.0
4934,0500000US56025,56025,Natrona County,WY,2016,41690.0,3011.0,2895.0,2719.0,1425.0,4295.0,2416.0,1046.0,2598.0,3102.0,10952.0,3615.0,2102.0,1514.0

In [ ]:
df_ind_occupation = pd.read_csv("datasets/industry_occupation.csv")
df_ind_occupation.tail()

In [41]:
df_ind_occupation = pd.read_csv("datasets/water_usage.csv")
df_ind_occupation.tail()

,state,state_fips,county,county_fips,fips,year,population,pub_sup_1,pub_sup_2,pub_sup_3,...,thermoelectric_30,gro_wat_1,gro_wat_2,gro_wat_3,surf_wat_1,surf_wat_2,surf_wat_3,total_withdrawal_1,total_withdrawal_2,total_withdrawal_3
3219,PR,72,Yabucoa County,151,72151,2010,37.941,18.190,19.751,37.941,...,0.0,2.87,0.0,2.87,2.81,0.00,2.81,5.68,0.00,5.68
3220,PR,72,Yauco County,153,72153,2010,42.043,17.013,25.030,42.043,...,0.0,2.53,0.0,2.53,2.63,0.00,2.63,5.16,0.00,5.16
3221,VI,78,St Croix County,10,78010,2010,50.601,NaN,NaN,39.320,...,0.0,0.57,0.0,0.57,1.37,51.91,53.28,1.94,51.91,53.85
3222,VI,78,St John County,20,78020,2010,4.170,NaN,NaN,1.770,...,0.0,0.01,0.0,0.01,0.22,0.11,0.33,0.23,0.11,0.34
3223,VI,78,St Thomas County,30,78030,2010,51.634,NaN,NaN,27.922,...,0.0,0.56,0.0,0.56,1.26,71.79,73.05,1.82,71.79,73.61